@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

*{
  margin: 0;
}
body{
  background: linear-gradient(180deg, #030c24,black);
  color: white;
  letter-spacing: .1rem;
  font-family: "Open Sans", sans-serif;
}